<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Argumentos de entrada</th>
                <th scope="col">Nombre de la plataforma</th>
                <th scope="col">Version node</th>
                <th scope="col">Memoria total reservada (rss)</th>
                <th scope="col">Ruta del ejecutable</th>
                <th scope="col">ID</th>
                <th scope="col">Carpeta del proyecto</th>
                <th scope="col">Sistema operativo</th>
                <th scope="col">N° de procesadores</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{data.sistemaOperativo}}</td>
                <td>{{data.vNode}}</td>
                <td>{{data.memoria}}</td>
                <th>{{data.rutaEjecutable}}</th>
                <td>{{data.idProceso}}</td>
                <td>{{data.directorioActual}}</td>
                <td>{{data.title}}</td>
                <td>{{data.procesadores}}</td>
            </tr>
        </tbody>
    </table>
</div>