<main>
    {{#if userStatus}}
        <div class="container-fluid">
            <div class="row">
                <div class="col border border-dark mx-1 filaDeTabla">
                    <h4 class="my-2 fw-bold text-center">Ingrese un producto nuevo</h4>
                    <form class="m-1" id="formNewProduct" >
                        <div class="mb-3">
                            <label for="title" class="form-label">Nombre del producto</label>
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="price" id="price">
                        </div>
                        <div class="mb-3">
                            <label for="ruta" class="form-label">URL Imagen</label>
                            <input type="text" class="form-control" name="ruta" id="ruta">
                        </div>
                        
                        <button type="submit" class="btn btn-warning my-2">Enviar</button>
                    </form>
                </div>

            </div>
        </div>

        <div>
            <h4 class="p-3 fw-bold tipografia">Lista de productos</h4>

            {{#if productsExists}}
                <div class="container-fluid tipografia">
                    <table class="table filaDeTabla">
                        <thead class="encabezadoDeTabla">
                            <tr class="text-center">
                                <th>ID</th>
                                <th>Nombre del producto</th>
                                <th>Imagen</th>
                                <th>Precio</th>
                            </tr>
                        </thead>

                        <tbody id="table-products">
                        {{#each prods}}
                            <tr class="text-center align-middle">
                                <td>
                                    {{this.id}}
                                </td>
                                <td>
                                    {{this.title}}
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block imagenProducto" src={{this.thumbnail}} alt={{this.title}}>
                                </td>
                                <td>
                                    {{this.price}}
                                </td>
                                
                            </tr>
                        {{/each}}
                        </tbody>  
                    </table>
                </div>
            {{else}}
                <div class="container-fluid">
                    <h4 class="alert alert-danger">No se encontraron productos</h4>
                </div>
            {{/if}}
        </div>
        
        
                {{!-- <div class="col">
                    <div class="filaDeTabla border border-dark mx-1 p-2">
                        <h4 class="my-2 fw-bold text-center">Ingrese ID del producto que desea eliminar</h4>
                        <form class="m-1" onsubmit="return deleteProduct()">
                            <div class="mb-3">
                                <label for="deleteId" class="form-label">ID</label>
                                <input type="number" class="form-control" name="deleteId" id="deleteId">
                            </div>
                            
                            <button type="submit" class="btn btn-warning my-2">Eliminar</button>
                        </form>
                    </div>
                </div> --}}

                {{!-- <div class="col">
                    <div class="col border border-dark mx-1 filaDeTabla">
                        <h4 class="my-2 fw-bold text-center">Ingrese información a actualizar</h4>
                        <span class="mx-3">Ingrese el ID y el/los campo/s a actualizar.</span>
                        <form class="m-1" onsubmit="return updateProduct()">
                            <div class="mx-3">
                                <label for="updateId" class="form-label">ID</label>
                                <input type="number" class="form-control" name="updateId" id="updateId">
                            </div>
                            <div class="container-fluid encabezadoDeTabla mt-3 p-2">
                                <div class="m-2">
                                    <label for="newTitle" class="form-label">Nombre del producto</label>
                                    <input type="text" class="form-control" name="newTitle" id="newTitle">
                                </div>
                                <div class="m-2">
                                    <label for="newRuta" class="form-label">URL Imagen</label>
                                    <input type="text" class="form-control" name="newRuta" id="newRuta">
                                </div>
                                <div class="m-2">
                                    <label for="newPrice" class="form-label">Precio</label>
                                    <input type="number" class="form-control" name="newPrice" id="newPrice">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning my-2">Actualizar</button>
                        </form>
                    </div>
                </div> --}}

                {{!-- <div class="col">
                    <div class="filaDeTabla border border-dark mx-1 p-2">
                        <h4 class="my-2 fw-bold text-center">Ingrese ID del producto que desea filtrar</h4>
                        <form class="m-1" onsubmit="return filterProduct()">
                            <div class="mb-3">
                                <label for="filterId" class="form-label">ID</label>
                                <input type="number" class="form-control" name="filterId" id="filterId">
                            </div>
                            
                            <button type="submit" class="btn btn-warning my-2">Filtrar</button>
                        </form>
                    </div>
                    <div id="producto_filtrado"></div>
                </div> --}}


            </div>
        </div>

        


        <div class="container-fluid my-5 p-3 bg-warning">
            <h1 class="m-3">Centro de mensajes</h1>
            <h4>Compresión: <span id="compresion-info"></span>%</h4>
            <div class="container-fluid text-center">
                <div class="row container-fluid">
                    <div class="col container-fluid">
                        
                        <form id="formChat" class="m-1">
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="email" id="clientMail" placeholder="Ingresa su correo aqui...">
                    </div>
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="text" id="clientName" placeholder="Ingresa su nombre aqui...">
                    </div>
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="text" id="clientSurname" placeholder="Ingresa su apellido aqui...">
                    </div>
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="number" id="clientAge" placeholder="Ingresa su edad aqui...">
                    </div>
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="text" id="clientAlias" placeholder="Ingresa su alias aqui...">
                    </div>
                    <div class="mb-3">
                        <input class="p-2 form-control m-1" type="text" id="clientAvatar" placeholder="Ingresa la URL de su avatar aqui...">
                    </div>
                    
                    
                    {{!-- <form id="formChat" class="m-1">
                        <div class="form-group"> --}}
                            <div class="mb-3">
                                <input class="p-2 form-control m-1" type="text" id="inputText" placeholder="Ingresa su mensaje aqui...">
                            </div>
                            <button type="submit" class="p-2 container-fluid m-1" id="btnEnviar">Enviar</button>
                       {{!--  </div> --}}
                    </form>
                        
                    </div>
                    <div class="col-6">
                        <div class="row" id="cuadroDeChat">
                            <div class="col bg-light" id="realTimeText"></div>
                        </div>
                    </div>
                    
                </div>
                
            </div>

            
        </div>
    {{else}}
        <h1>Necesita loguearse.</h1>
    {{/if}}
    
</main>
